---
name: 'Kitsu release (Studio Countdown)'

on:
  push:
    branches:
      - main
    tags:
      - '*'

jobs:
  make_release:
    if: github.repository_owner == 'studiocountdown'
    name: Release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Build release
        env:
          HUSKY: 0
          NODE_OPTIONS: '--max_old_space_size=8192'
        run: |
          echo "Node.js $(node -v)"
          echo "npm v$(npm -v)"
          npm ci
          npm run build
          GIT_COMMIT="$(git rev-parse HEAD)"
          GIT_TAG="$(git describe --tags)"
          KITSU_VERSION="$(echo ${GIT_TAG} | sed 's/^v//;s/-build//')"
          echo "${KITSU_VERSION}" > dist/.version.txt
          echo "${GIT_COMMIT}"    > dist/.commit.txt
          echo "${GIT_TAG}"       > dist/.tag.txt
          CHECKSUM_FILENAME="kitsu-${KITSU_VERSION}.SHA512"
          ARTEFACT_FILENAME="kitsu-${KITSU_VERSION}.tgz"
          (cd dist && tar cvzf "../${ARTEFACT_FILENAME}" .)
          sha512sum "${ARTEFACT_FILENAME}" > "${CHECKSUM_FILENAME}"
      - name: Create release
        if: startsWith(github.ref, 'refs/tags')
        uses: ncipollo/release-action@v1
        id: create_release
        with:
          artifacts: 'kitsu-*.tgz,kitsu-*.SHA512'
          token: ${{ secrets.GITHUB_TOKEN }}
